html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  --bone: #F9F6EE;
	--dark: #131212;
  --dred: #270D15;
  --dred-light: #442731;
  --pink: #f9cbda;
	--pic-radius: 10px;
}

body {
  font-size: 16px;
	font-family: "contralto-small", New York, serif;
	font-weight: 400;
	font-style: normal;
	color: var(--dark);
}
h1 {
  font-size: 3rem;
	font-weight: bold;
	padding-bottom: 12px;
}
h2 {
	font-size: 1.2rem;
	font-style: italic;
	padding-bottom: 24px;
}
p {
	font-size: 1rem;
	line-height: 1.9rem;
	padding-bottom: 12px;
}
em {
	font-style: italic;
}
ol {
	list-style: decimal-leading-zero;
	padding-left: 2rem;
}
li {
	font-size: 0.9rem;
	line-height: 1.9rem;
	padding-bottom: 12px;
}

/* General */
section {
	min-height: 100vh;
	width: 100vw;
	display: flex;
  align-items: center;
  justify-content: center;
	background: var(--bone);
}

/* Title */
section#title {
	flex-direction: column;
}
section#title img#flag {
	width: 50vw;
	height: auto;
	animation-name: welcome;
	animation-timing-function: ease;
	animation-duration: 1.8s;
}
section#title img#down {
	margin-top: 15vh;
}

/* Entry */
section.entry {
	align-items: flex-start;
	padding-bottom: 100px;
}
section.entry article {
	text-align: left;
	width: 40vw;
	margin-right: 36px;
}
section.entry aside.artpiece {
	width: 40vw;
}
section.entry aside.artpiece img {
	width: 40vw;
	border-radius: var(--pic-radius);
}

/* Title */
section#title {
	background-color: var(--dred);
}

/* Description */
section#desc {
	flex-direction: column;
	background-color: var(--pink);
}
section#desc div {
	width: 40vw;
}

/* Tumblr */
section#tumblr {
	padding-top: 50px;
	padding-bottom: 50px;
	color: var(--bone);
	background-color: var(--dred);
}
section#tumblr article {
	width: 40vw;
}
section#tumblr div {
	border-left: 3px solid var(--pink);
	margin-left: 10px;
	padding-left: 20px;
}

/* Cover */
section.cover {
	flex-direction: column;
}
section.cover img.single {
	height: 10vw;
	max-height: 141px;
	width: auto;
}
section.cover img.double {
	height: 20vw;
	max-height: 256px;
	width: auto;
}

/* Extra */
section.extra {
	background-color: var(--pink);
	flex-direction: column;
}
section.extra div {
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
}
section.extra div:last-child {
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
section.extra div:last-child img {
	margin-right: 50px;
}
section.extra div:last-child img:last-child {
	margin-right: 0px;
}
section.extra h2 {
	padding-bottom: 0;
}
section.extra img#yearbook {
	height: 30vw;
	max-height: 300px;
	width: auto;
	border-radius: var(--pic-radius);
}
section.extra img.heads {
	height: 30vw;
	max-height: 200px;
	width: auto;
	border-radius: var(--pic-radius);
}

/* Timeline */
section#timeline {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: var(--pink);
	flex-direction: column;
}
section#timeline article {
	width: 89vw;
	margin-left: 5vw;
	margin-right: 5vw;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
}
section#timeline article ul li {
	border-left: 3px solid var(--dred);
	margin-bottom: 20px;
	margin-left: 10px;
	padding-left: 20px;
	padding-bottom: 0;
}

/* Photographs */
section.photos {
	background-color: var(--dred);
	display: grid;
	grid-template-rows: 1fr;
}
section.p-1 {
	grid-template-columns: 1fr;
}
section.p-3 {
	grid-template-columns: 1fr 1fr 1fr;
}
section.p-4 {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
section.photos div.photo-card {
	height: 100%;
	width: auto;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
section.photos div.photo-card h2 {
	position: absolute;
	bottom: 20px;
	right: 50px;
	color: var(--bone);
}

/* Individual Photographs */
section.photos div#p-pre-1 {
	background-image: url('../images/photos/pre-1.jpeg');
	background-position: center;
}
section.photos div#p-pre-2 {
	background-image: url('../images/photos/pre-2.jpeg');
	background-position: center;
}
section.photos div#p-pre-3 {
	background-image: url('../images/photos/pre-3.jpeg');
	background-position: center;
}
section.photos div#p-pre-4 {
	background-image: url('../images/photos/pre-4.jpeg');
	background-position: left;
}

section.photos div#p-2014-a {
	background-image: url('../images/photos/2014-a.jpeg');
	background-position: left;
}
section.photos div#p-2014-c {
	background-image: url('../images/photos/2014-c.jpeg');
	background-position: left;
}
section.photos div#p-2014-d {
	background-image: url('../images/photos/2014-d.jpeg');
	background-position: center;
}

section.photos div#p-2015 {
	background-image: url('../images/photos/2015.jpg');
	background-position: left;
}
section.photos div#p-2017 {
	background-image: url('../images/photos/2017.jpeg');
	background-position: right;
}
section.photos div#p-2019 {
	background-image: url('../images/photos/2019.jpeg');
	background-position: center;
}

/* IDs */
section#ids {
	min-height: 0;
}

/* Stickers */
section#stickers {
	flex-direction: column;
	background-color: var(--pink);
}
section#stickers img.sticker {
	height: 20vw;
	max-height: 600px;
	width: auto;
	transition: 0.5s;
}
section#stickers img.sticker:hover {
	opacity: 0.8;
}
section#stickers img.sticker:first-child {
	margin-right: 50px;
}
section#stickers div#button {
	margin-top: 50px;
	background-color: var(--dred-light);
	padding: 12px 22px 14px 22px;
	font-style: italic;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	border-radius: 6px;
	transition: 0.5s;
}
section#stickers div#button:hover {
	background-color: var(--dred);
	border-radius: 12px;
}
section#stickers a {
	color: var(--bone);
	text-decoration: none;
}
section#stickers a div#button div:last-child {
	margin-left: 10px;
}

/* End */
section#end {
	background-color: var(--dred);
	flex-direction: column;
	padding-top: 100px;
	padding-bottom: 100px;
}
section#end div {
	margin-bottom: 100px;
	height: 450px;
	width: 660px;
}

footer {
	background-color: var(--pink);
	text-align: center;
	flex-direction: column;
	padding-top: 100px;
	padding-bottom: 100px;
	display: flex;
  align-items: center;
  justify-content: center;
	padding-left: 50px;
	padding-right: 50px;
}
footer img {
	height: 60px;
	width: auto;
	margin-bottom: 20px;
}
footer a {
	font-style: italic;
	color: var(--dred);
	transition: 0.5s;
}
footer a:hover {
	opacity: 0.5;
}

@media only screen and (max-width: 800px) {
	h1{ 
		font-size: 2.7rem;
	}
	h2 {
		line-height: 1.5rem;
	}

	section {
		flex-direction: column;
	}

	section#title img#flag {
		width: 90vw;
		height: auto;
	}

	section#desc div {
		width: 90vw;
	}
	
	section#tumblr article {
		width: 90vw;
	}

	section.entry article {
		width: 90vw;
		margin-right: 0;
		margin-left: 5vw;
	}
	section.entry aside.artpiece {
		margin-top: 36px;
		width: 90vw;
		margin-left: 5vw;
	}
	section.entry aside.artpiece img {
		width: 90vw;
	}

	section.cover img.single {
		height: auto;
		max-height: none;
		width: 90vw;
	}
	section.cover img.double {
		height: auto;
		max-height: none;
		width: 90vw;
	}

	section#timeline article {
		width: 89vw;
		margin-left: 5vw;
		margin-right: 5vw;
		grid-template-rows: auto 1fr;
		grid-template-columns: 1fr;
	}

	section.p-1 {
		grid-template-columns: 1fr;
		grid-template-rows: 500px;
	}
	section.p-2 {
		grid-template-columns: 1fr;
		grid-template-rows: 500px 500px;
	}
	section.p-3 {
		grid-template-columns: 1fr;
		grid-template-rows: 500px 500px 500px;
	}
	section.p-4 {
		grid-template-columns: 1fr;
		grid-template-rows: 500px 500px 500px 500px;
	}

	section#stickers div:first-child {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	section#stickers img.sticker {
		height: auto;
		width: 65vw;
	}
	section#stickers img.sticker:first-child {
		margin-right: 0px;
	}
	section#stickers img.sticker:last-child {
		margin-top: 50px;
	}

	section#end div {
		width: auto;
	}
}

@keyframes welcome {
  0% {
    transform: translateY(50%);
		opacity: 0;
  }
	5% {
		transform: translateY(50%);
		opacity: 0;
	}
	60% {
    transform: translateY(-4%);
		opacity: 1;
  }
  100% {
    transform: translateY(0%);
		opacity: 1;
  }
}