html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
	font-family: "contralto-small", sans-serif;
	font-weight: 400;
	font-style: normal;
}
h1 {
  font-size: 3rem;
	font-weight: bold;
	padding-bottom: 12px;
}
h2 {
	font-size: 1.2rem;
	font-style: italic;
	padding-bottom: 24px;
}
p {
	font-size: 0.9rem;
	line-height: 1.9rem;
	padding-bottom: 12px;
}
em {
	font-style: italic;
}
ol {
	list-style: decimal-leading-zero;
	padding-left: 2rem;
}
li {
	font-size: 0.9rem;
	line-height: 1.9rem;
	padding-bottom: 12px;
}

/* General */
section {
	min-height: 100vh;
	width: 100vw;
	display: flex;
  align-items: center;
  justify-content: center;
}

/* Entry */
section.entry {
	align-items: flex-start;
	padding-bottom: 100px;
}
section.entry article {
	text-align: left;
	width: 40vw;
	margin-right: 36px;
}
section.entry aside.artpiece {
	width: 40vw;
}
section.entry aside.artpiece img {
	width: 40vw;
}

/* Title */
section#title {
	background-color: #270D15;
}

/* Description */
section#desc {
	flex-direction: column;
	background-color: #f9cbda;
}
section#desc div {
	width: 40vw;
}

/* Cover */
section.cover {
	flex-direction: column;
}
section.cover img.single {
	height: 10vw;
	max-height: 141px;
	width: auto;
}
section.cover img.double {
	height: 20vw;
	max-height: 256px;
	width: auto;
}

/* Extra */
section.extra {
	background-color: #f9cbda;
	flex-direction: column;
}
section.extra div {
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
}
section.extra div:last-child {
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
section.extra div:last-child img {
	margin-right: 50px;
}
section.extra div:last-child img:last-child {
	margin-right: 0px;
}
section.extra h2 {
	padding-bottom: 0;
}
section.extra img#yearbook {
	height: 30vw;
	max-height: 300px;
	width: auto;
}
section.extra img.heads {
	height: 30vw;
	max-height: 200px;
	width: auto;
}

/* Timeline */
section#timeline {
	background-color: #f9cbda;
	flex-direction: column;
}

/* Photographs */
section.photos {
	background-color: #270D15;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}
section.photos img {
	max-height: 80vh;
	width: auto;
}

/* Stickers */
section#stickers {
	flex-direction: column;
	background-color: #f9cbda;
}
section#stickers img.sticker {
	height: 20vw;
	width: auto;
}
section#stickers img.sticker:first-child {
	margin-right: 50px;
}
section#stickers p {
	margin-top: 50px;
	font-style: italic;
}
section#stickers a {
	color: #270D15;
	text-decoration: none;
}
section#stickers p span img {
	margin-left: 4px;
}

/* End */
section#end {
	background-color: #270D15;
	flex-direction: column;
	padding-top: 100px;
	padding-bottom: 100px;
}
section#end div {
	margin-bottom: 100px;
	height: 450px;
	width: 660px;
}

footer {
	background-color: #f9cbda;
	text-align: center;
	flex-direction: column;
	padding-top: 100px;
	padding-bottom: 100px;
	display: flex;
  align-items: center;
  justify-content: center;
}
footer img {
	height: 60px;
	width: auto;
	margin-bottom: 20px;
}
footer p a {
	font-style: italic;
	color: #270D15;
}

@media only screen and (max-width: 800px) {
	h1{ 
		font-size: 2.7rem;
	}
	section {
		flex-direction: column;
	}
	section#desc div {
		width: 60vw;
	}
	section.entry article {
		width: 90vw;
		margin-right: 0;
		margin-left: 5vw;
	}
	section.entry aside.artpiece {
		margin-top: 36px;
		width: 90vw;
		margin-left: 5vw;
	}
	section.entry aside.artpiece img {
		width: 90vw;
	}

	section#end div {
		width: auto;
	}
}